:root {
    --max-width: 1280px;
    --min-width: 320px;
    --accent-color: #b5e5f4;
}

* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
    font-family: Roboto, sans-serif;
}

a {
    text-decoration: none;
    color: rgb(3, 51, 122);
}

a:hover {
    color: blue;
}

.button {
    background-color: rgb(15, 5, 120);
    padding: .5rem 1rem;
    font-size: 24px;
    border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    color: white;
}

.button:hover {
    background-color: blue;
    transition: .5s;
    color: white;
}


/* Container */

.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    min-width: var(--min-width);
    background-image: url('img/football.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    transition: background-image 0.7s ease-in-out;
}

.header,
.content,
.footer {
    width: 100%;
    margin: 0 auto;
    padding: 1rem;
}


/* Header */

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.5);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(0px);
    -webkit-backdrop-filter: blur(0px);
}

.logo {
    display: flex;
    align-items: center;
    font-size: 30px;
    font-weight: bold;
}

.logo__img {
    margin-right: 0.5rem;
    width: 120px;
    height: 120px;
}

.menu-list {
    margin: 0;
}

.menu-list__item {
    display: inline-block;
    margin: 0 0.5rem;
    font-size: 20px;
}

.menu-list__item:last-child {
    margin-right: 0;
}


/* Content */

.content {
    flex-grow: 1;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    position: relative;
    max-width: var(--max-width);
}

.slideButton {
    position: absolute;
    top: 40%;
    transform: translateY(-50%);
    font-size: 3rem;
    cursor: pointer;
}

.prevSlide {
    left: -2rem;
}

.nextSlide {
    right: -2rem;
}

.content__claim {
    font-size: 64px;
    color: rgb(15, 5, 120);
    margin: 0;
}

.content__subclaim {
    font-size: 36px;
    margin: 0.5rem 0;
    margin-bottom: 2rem;
}


/* Footer */

.footer-wrapper {
    /* From https://css.glass */
    background: rgb(15, 5, 120);
    padding: 10px;
}

.footer {
    display: flex;
    justify-content: space-around;
}

.footer__widget {
    font-size: 24px;
}

.footer__widget__title {
    color: var(--accent-color);
    margin: 0 0 1rem 0;
}

.footer__widget__text {
    margin: 0;
}


/* Responsive stuff */

@media screen and (max-width: 1280px) {
    .header,
    .footer {
        flex-direction: column;
        text-align: center;
    }
    .menu {
        margin-top: 1.5rem;
    }
    .content {
        align-items: center;
    }
    .footer__widget {
        margin-bottom: 1rem;
    }
}